<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="{{url_for('static', filename='css/home/styles.css')}}">
    <title>Python Code</title>
</head>
<body>
    <div class="containerGeral">
        <div class="containerTexto">
            <p>
                PYTHON <br> CODE
            </p>
        </div>
        <div class="containerButtons">
            <a href="#" id="button">
                <div id="volume">
                    Créditos
                </div>
            </a> 
            <a href="{{url_for('questoesPage')}}" id="button">
                <div id="volume">
                    Start
                </div>
            </a> 
        </div>
    </div>
</body>
</html>